body	{
			margin: 0px;
			padding: 0px;
			background: url('texture.jpg') no-repeat #3f4a55;
			font-family: arial, helvetica, sans-serif;
			font-size: 12px;
			color: #666666;
}

table, tr, td {
	border-collapse: collapse;
	border-color: #d79900;

	padding:4px;
	border-spacing:0;
	margin: 0;
}

input
{
color: #fff;
background: #3f4a59;
border: 1px solid #000;
font-size:13px;
}

.intext
{
font-size:18px;
padding:3px;
}
.submit
{
margin-bottom:0px;
padding-bottom:3px;
font-size:13px;
font-weight:bold;
background: #3f4a51;
color: #d79900;
border:1px solid #000;

height:22px;
line-height:5px;
}


#container {
	margin: 30px auto 0 auto; /*30px fr�n top, auto1= h�gercentrera, auto2= v�nster centrera*/
}
.home {
	width: 915px; /*Bredd p� bakgrundsbilden*/
}

/*l�gger in bakgrundbild f�r �vre meny och textformat*/	
.home .nav	{
			width: 100%;
			height: 32px;
			display: block;
			line-height: 32px;
			font-size: 14px; 
			font-weight: bold;
			text-transform: uppercase;
			text-indent: 24px; 
			background: url('nav_homepage.gif') left top no-repeat;
			background-repeat: no-repeat;
}

/*L�gger till pil*/
.nav .drop a {
			background: url('arrow_bw.gif') no-repeat;
			background-position: right; /*arrow*/
			padding-right: 20px;	/*avst�nd mellan text & arrow_*/
}	
		
.nav .no_drop a {
			padding-right: 10px;			
}	
/*Avst�nd mellan menytext-lager och bakgrundsbild*/
.nav ul {
			padding: 0px;
			margin: 0px;
			list-style: none; /*lower-roman inside*/
}

/*�vre meny innan den faller ner, avst�nd mellan menyalternativen*/
.nav li {
			display: inline;
			padding: 1px 1px 1px 15px;
			margin: 0px;
			list-style: none;	
			border-left: 1px solid orange;	
			position: relative; /*varje nytt menyelement l�ggs till efter f�reg�ende*/
}
/*�vre meny som faller ner*/					
.nav .primary_nav {
			float: right; /*Det h�ll som menyrubrikerna sorteras fr�n*/
			z-index: 88;
}

/*L�nk formatering f�r ej bes�kta l�nkar*/
.nav .primary_nav a:link	{
			display: inline;
			color: #FFFFFF;  /*l�nkf�rg*/
			text-decoration: none; /*underline etc*/
			padding-left: 8px; /*avst�nd mellan l�nkar i droppen*/
			height: 14px;
		}
/*L�nkformatering f�r bes�kta l�nkar*/
.nav .primary_nav a:visited	{
			display: inline;
			color: #FFFFFF;
			text-decoration: none;
			padding-left: 8px;
			height: 14px;
		}

/*L�nkformatering f�r aktiva l�nkar*/
.nav .primary_nav a:hover	{
			display: inline;
			color: #FFFFFF;
			text-decoration: underline;
			padding-left: 8px;
			height: 14px;
		}	

/*Drop blocks grundform, position (endast grundinst�lld) och formatering*/
.nav .primary_nav li ul {
	position: absolute;
	top: 0px;
	right: 3px; /*Avst�nd f�r dropblock fr�n v�nster relativt b�rjan p� menyelementets(=orange linje)*/
	z-index: 99;
	margin: 0px 0px 0px 0px; /*marginal fr�n pilen,1:top,2:h�ger,3:ner,4:v�nster*/
	padding: 0px 0px 0px 0; /*avst�nd inuti dropblock, 1:top,2:h�ger,3:ner,4:v�nster*/
	background: #8BC53F; /*bakgrundsf�rg p� blocks*/
	width: 180px; /*bredd p� dropblock, grundinst�lld*/
	display: none;
	border-bottom: 3px solid #8BC53F; /*nu gr�n, orange p� nedre*/
}
.nav .primary_nav li>ul {
	top: 15px; /*Avst�nd fr�n menyrubrik till dropblock, m�ste t�cka �ver menyrubrik f�r att inte f�rsvinna n�r musen g�r �ver*/
}

/*F�rsta menyrubriken (Skola) ska ej ha border framf�r.*/
.nav .primary_nav li#nav_link_skol {
	border-left: none;
}

/*Variationer p� grund-dropblock*/
.nav .primary_nav li ul#nav_menu_skol {
	left: 0px;
	width: 200px;
}
.nav .primary_nav li ul#nav_menu_ny {
	left: 0px;
	width: 240px;
}
.nav .primary_nav li ul#nav_menu_liv {
	left: 0px;
	width: 338px;
}


.nav .primary_nav li:hover, .nav .primary_nav li.over {
	z-index: 95;
}
.nav .primary_nav li:hover ul, .nav .primary_nav li.over ul {
	display: block;
	z-index: 99;
}
.nav .primary_nav li ul li {
	position: relative;
	text-transform: none;
	float: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px;
	line-height: 25px;
	text-indent: 0;
}
/*Avdelningslinje*/
.nav .primary_nav li ul>li.dela a {
	border-top: 1px solid #aaa;
	display: block;
	padding: 22px 8px;
}
.nav .primary_nav li ul li:hover, .nav .primary_nav li ul li.over {
}
.nav .primary_nav li ul li a, 
.nav .primary_nav li ul li a:link,
.nav .primary_nav li ul li a:visited {
	margin: 0;
	line-height: 18px;
	background: none;
	text-transform: none;
}


/******************************NEDRE***********************************/
/*l�gger in bakgrundbild f�r nedre meny och text format*/
.home .navd	{
			width: 100%;
			height: 42px;
			display: block;
			line-height: 32px;
			font-size: 11px; 
			font-weight: bold;
			text-transform: uppercase;
			text-indent: 24px;
			background: url('nav_down2.gif') left bottom no-repeat;
			background-repeat: no-repeat;
		}
		
/*l�gger in pilar*/
.navd .lift a {
			background: url('arrow_bw.gif') no-repeat;
			background-position: right; /*arrow*/
			padding-right: 20px;	/*avst�nd mellan text & arrow_*/	
		}	
		
.navd .no_lift a {
			padding-right: 10px;			
		}

/*Avst�nd mellan nedre menytext-lagret och bakgrundsbild*/
/*Avst�nd mellan hela list-lagret och bakgrund*/
.navd ul {
			padding: 0px;
			margin: 0px;
			list-style: none; /*lower-roman inside*/
}

/*nedre menyn innan den faller ner, avst�nd mellan menyalternativen*/
/*Avst�nd mellan enskilda list-element*/
.navd li {
			display: inline;
			padding: 10px 10px 10px 10px;
			margin: 1px 10px 1px 1px;
			list-style: none;	
			border-left: 1px solid orange;	
			position: relative;
}

/*H�ger(float:right)/v�nster(float:left)-justering av menyrubriker*/					
.navd .primary_navd {
			float: left;
			z-index: 77;
}
/*L�nk formatering f�r ej bes�kta l�nkar*/
.navd .primary_navd a:link	{
			display: inline;
			color: #FFFFFF;
			text-decoration: none;
			padding-left: 8px;
			height: 14px;
		}
/*L�nkformatering f�r bes�kta l�nkar*/
.navd .primary_navd a:visited	{
			display: inline;
			color: #FFFFFF;
			text-decoration: none;
			padding-left: 8px;
			height: 14px;
		}
/*L�nkformatering f�r aktiva l�nkar*/		
.navd .primary_navd a:hover	{
			display: inline;
			color: #FFFFFF;
			text-decoration: underline;
			padding-left: 8px;
			height: 14px;
		}	
/*Drop blocks grundform, position (endast grundinst�lld) och formatering*/
.navd .primary_navd li ul {
	position: absolute;
	bottom: 0px;
	left: 30px;/*Avst�nd f�r dropblock fr�n v�nster relativt yttersta v�nstra referenspunkten*/
	z-index: 99;
	margin: 0px 0px 0px -30px; /*Placering av box. top,left,bottom,right*/
	padding: px 0px 0px 0px; /*top,left,bottom,right-avst�nd fr�n sidorna i boxen*/
	background: #000;
	width: 200px;
	display: none;
	border-top: 3px solid orange; /*orange*/
}
/*Placering av psp-box(grund)*/
.navd .primary_navd li>ul {
	bottom: 30px;
}

.navd .primary_navd li#navd_link_psp {
	border-left: none; /*ta bort v�nster avdelare p� psp*/
}

.navd .primary_navd li ul#navd_menu_musik {
	/*width: 150px;*/
}

.navd .primary_navd li ul#navd_menu_kar {
	width: 400px;
}

.nav .primary_navd li:hover, .nav .primary_navd li.over {
	z-index: 95;
}
.navd .primary_navd li:hover ul, .nav .primary_navd li.over ul {
	display: block;
	z-index: 99;
}
.navd .primary_navd li ul li {
	position: relative;
	text-transform: none;
	float: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 25px;
	text-indent: 0;
}
.navd .primary_navd li ul>li.dela a {
	border-top: 1px solid #aaa;
	display: block;
	padding: 2px 8px;
}
.navd .primary_navd li ul li:hover, .nav .primary_navd li ul li.over {
}
.navd .primary_navd li ul li a, 
.navd .primary_navd li ul li a:link,
.navd .primary_navd li ul li a:visited {
	margin: 0;
	line-height: 18px;
	background: none;
	text-transform: none;
}